.main {
    background-color: SlateGray;
}

#meh {
    background-color: rgb(85, 77, 66);
    width: 600px;
    margin-left: 200px;
}

#name {
    font-size: 24;
    color: rgb(81, 126, 72);
}

#ole {
    mix-blend-mode: multiply;
}
