.main {
    background-color: SlateGray;
}
#wrapper {

}

#meh {
    font-size: 24px;
    background-color: black;
    color: SlateGray;
    text-align: center;
    padding: 5px;
}

#body {
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 570px;
}

#footer {
    background-color: black;
    color: SlateGray;
    clear: both;
    text-align: center;
    padding: 5px;
}

#name {
    font-size: 28px;
    color: red;
}

#pic1 {
    mix-blend-mode: multiply;
    width: 104px;
    height: 142px;
}

table {
    border-spacing: 5px;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li button {
    background-color: black;
    color: SlateGray;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li button:hover {
    background-color: orange;
}
