* {
     user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.main {
    background-image: url("background.png");
}

#wrapper {
    display: block;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: SlateGray;
}

#toolmenu {
    width: 10%;
    border-style: solid;
    border-color: black;
    margin-bottom: 45%;
}

#bodyright {
    width: 45%;
    padding: 5px;
    border-style: solid;
    border-color: black;
}

#bodyleft {
    background-color: #53626A;
    width: 45%;
}

#header {
    background-color: black;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    color: slateGrey;

}

#footer {
    background-color: black;
    color: SlateGray;
    clear: both;
    text-align: center;
    padding: 5px;
}

#name {
    font-size: 22px;
    color: GoldenRod;
}

#pic1 {
    mix-blend-mode: multiply;
    width: 104px;
    height: 142px;
}

#chronMap {
    mix-blend-mode: multiply;
}

#singularity {
    mix-blend-mode: multiply;
}

table {
    border-spacing: 5px;
    text-align: left;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li button {
    background-color: black;
    color: SlateGray;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li button:hover {
    background-color: orange;
}
